<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <a href="https://accounts.google.com/o/oauth2/auth?client_id=1083774231549-gham8kln42p4koag86qhuhtouuoakm14.apps.googleusercontent.com&redirect_uri=http://localhost/auth&response_type=code&scope=https://www.googleapis.com/auth/userinfo.profile https://www.googleapis.com/auth/user.birthday.read https://www.googleapis.com/auth/user.emails.read https://www.googleapis.com/auth/user.gender.read">login</a>
</body>
</html>