<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
            rel="stylesheet"
            as="style"
            crossorigin
            href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css"
    />
    <title>같이행(Withaeng) - 이메일 인증</title>
</head>
<body style="font-family: 'Pretendard Variable', Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;">
<main>
    <div style="background-color: #faf8f6; margin: 0 auto; padding: 80px 80px 72px; width: 510px;">
        <section style="padding: 60px 40px 0; display: flex; flex-direction: column; gap: 40px; text-align: center; color: #333333;">
            <div>
                <h2 style="font-weight: 600; font-size: 28px; margin: 0 0 20px;">이메일 주소 인증 메일</h2>
                <p style="margin: 0; font-weight: 400; font-size: 16px;">
                    안녕하세요.<br />
                    같이행 서비스 이용을 위해 이메일 주소 인증을 요청하셨습니다.<br />
                    아래 버튼을 클릭하여 서비스를 이용할 수 있습니다.
                </p>
            </div>
            <div>
                <div style="background-color: #fff; font-weight: 600; line-height: 20px; font-size: 14px; padding: 10px 0;" th:text="${email}"></div>
                <p style="margin: 8px 0 0; font-weight: 500; font-size: 12px; color: #939393;">인증은 5분 이내로 완료해주세요.</p>
            </div>
            <button type="button" style="padding: 12px 20px; border-radius: 2px; height: 44px; color: #fff; background-color: #ffa500; outline: none; border: none; font-weight: 600; line-height: 20px; font-size: 14px; cursor: pointer; font-family: 'Pretendard Variable', Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;">
                <a th:href="${redirectUrl}" style="color: #fff; text-decoration: none;">네, 인증합니다.</a>
            </button>
        </section>
    </div>
</main>
</body>
</html>
